<%= flash[:notice] %>
<form method="post" action="/added_bookmark">
  <h1>Inesrt name of bookmark:</h1>
  <input type="text" name="Name">
  <h1>Insert URL of bookmark:</h1>
  <input type="text" name="Url">
  <input type="submit" value="Submit">
</form>
