<ul>

  <h1> Bookmark Manager </h1>

<% @bookmarks.each do |bookmark| %>
  <a href= <%= bookmark.url %>><%= bookmark.title %><br> </a>
<%end%>

</ul>

<form action="/add_bookmark" method="get">
  <input type="submit" value="Add bookmark">
</form>

<form action="/delete_bookmark" method="get">
  <input type="submit" value="Delete bookmark">
</form>

<form action="/update_bookmark" method="get">
  <input type="submit" value="Update bookmark">
</form>
