<form action="updated_bookmark" method="post">
  <h1>Insert name of bookmark to be updated:</h1>
  <input type="text" name="Name">
  <h1>Insert new name of bookmark:</h1>
  <input type="text" name="New_name">
  <input type="submit" value="Update">
</form>

<%= flash[:title_error] %>
